{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}

    <h1>Edit this page: {{ entry_title }}</h1>
    <br>    
    <form action="/edit/{{ entry_title }}/" method="POST">
        {% csrf_token %}     
        <div class="form-group">
            <label for="contentinput">Edit entry's content:</label>
            <textarea class="form-control" id="contentinput" rows="2" name="content">{{ entry_cont }}</textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Save Changes">
    </form>

{% endblock %}